admin_username = ""  # User on Windows VM.
admin_password = ""  # Password for Windows VM. Must follow Windows server spec.
image_id = ""  # Resource ID of image to launch VM from.
location = ""  # Reigon to launch VM.